.filter-month-year {
	width: 250px;
}

.div_filter {
	width: 100%;
	margin-top: 0px;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	position:fixed;
	height: 54px;
	z-index: 100;
	background: #e0e0e0;
}

.oe_universal_timeline_by_date {
	background: #fdfdfd;
}

.wrapper_universal_timeline_by_date_table .progress {
	margin-bottom:0px;
	height: 28px;
}

.wrapper_universal_timeline_by_date_table .progress, 
.wrapper_universal_timeline_by_date_table .progress-bar {
	background: transparent;
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.wrapper_universal_timeline_by_date_table th {
  text-align: center;
  background: #F0F0F0;
}

.wrapper_universal_timeline_by_date_table tr:hover {
  background: #F0F0F0;
}

.vertical-line {
	border-left:1px solid LightGray;
	height:100%;
	margin-top: -5px;
	margin-left: -5px;
	position: fixed;
}

#div_main {
	margin-top: 54px;
}

.ml16 {
	margin-left: 16px;
}

.mr16 {
	margin-right: 16px;
}

.margin6 {
	margin: 6px;
}

.driver-available {
	color: #b5b5bf;
}

.driver-busy {
	color: #55a7b2;
}

.bg-planned {
	background-color: #EEAA7B !important;
}

.bg-none {
	background-color: transparent !important;
}

.bg-actual {
	background-color: #66B9BF !important;
}

.bg-now {
	background-color: #DDDDDD !important;
	opacity: 0.3;
}

#btn_filter {
	margin-left: 10px;
	width: 100px;
}

.row.no-margin {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.table-fixed tr {
  overflow-y: auto;
}
