body {
	font-family: "Segoe UI","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
}

hr {
	margin: 0px;
	padding: 0px;
}

#main_container {
	margin-top: 0px;
	margin-bottom: 15px;
}

.accordion_detail{
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.accordion {
	padding: 12px 0;
	margin-bottom: 2px;
}

.list_title {
	font-size: large;
	font-weight: bold;
}

.list-row {
	border-bottom: 1px solid #CCCCCC;
}

.list-row .table {
	margin-bottom: 0;
}

.td_list {
	width: 1%;
}

div.row_hoverable:hover {
	background-color: #EEEEEE;
}

div.row_hoverable {
	background-color: #f5f5f5;
	border-radius: 2px;
}

@media (max-width: 767px) {
	.accordion_header_toggle {
		text-align:left;
		padding-top: 0 !important;
	}
	.website_list_container .line_voucher_price {
		font-size: small;
		font-weight: bold
	}
}

.no_bold {
	font-weight: normal;
}

.no_margin {
	margin: 0px;
}

.no_padding {
	padding: 0px;
}

.contract_usage_control {
	margin-bottom: 10px;
}

.strike_through_text {
	text-decoration: line-through;
	color: gray;
}

.form-section {
	font-size: 125%;
	font-weight: bold;
	background: #559CD9;
	color: #FFFFFF;
}

.progress-bar-grey {
	background-color: #CCCCCC;
}

.input-number {
	width:150px;
	padding: 0px;
	margin:0px;
	text-align: right;
}

.clickable:hover {
	background-color: #F4F4F4;
}

.grey_text {
	color: grey;
}

.green_text {
	color: green;
}

.red_text {
	color: red;
}

.orange_text {
	color: orange;
}

.div_order_button {
	margin-bottom: 10px;
	margin-top: 15px;
	overflow: hidden;
}

.div_detail_order_button {
	overflow: hidden;
}

.header_detail_order{
	color : #337AB7;
	font-weight: bold;
}

#btn_add_passenger{
	display: block;
	margin: auto;
}

table#passengers td {
	padding: 0 !important;
}

.td_menu {
	width : 33%;
	text-align: center;
}

.td_tab_order {
	width : 25%;
	text-align: center;
}

.modal-header {
	background-color: #337AB7;
	color: #FFFFFF;
}

.modal-header h5 {
	font-weight: bold;
	font-size: 125%;
	width: calc(100% - 36px);
}

.modal-content .form-section {
	font-size: 110%;
}

.modal-content .form-section.ptb12 {
	padding-top: 9px !important;
	padding-bottom: 9px !important;
}

.modal-header .close {
	margin-top: 0 !important;
}

.form-section.form-section-light {
	background-color: #FFFFFF;
	color: #559CD9;
}






#menu_container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: WhiteSmoke;
}

#menu_container li {
	width: 33.333333333%;
    float: left;
}

#menu_container li a {
	vertical-align: middle;
    display: block;
    color: Black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

#menu_container li a:hover:not(.active) {
    background-color: #E8E8E8;
}

#menu_container .active {
    background-color: Gainsboro;
}

.chjs_mobile_web_title_container {
	background-color: #337AB7;
	color: #FFFFFF;
}

.panel {
	display: inline;
	position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    color: white;
    background-color: #337AB7;
    z-index: 1000;
    padding: 5px;
    margin: 0px;
    margin-left: -15px;
    border-radius: 0px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#button_back {
	display: inline-block;
	margin-top:6px;
	margin-bottom:0px;
}

#panel_title {
	display: inline-block;
	margin-top:6px;
	margin-bottom:0px;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu div {
    display: inline-block;
    background-color: #337ab7;
    color:white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    width: 160px;
    margin-left: -3px;
	cursor: pointer; cursor: hand;
}

div.scrollmenu div:first-child {
		margin-left: 0;
}

/*div.scrollmenu div:hover {*/
    /*background-color: rgb(40,96,144);*/
/*}*/

.logged_in_as {
    color: gray;
}

.div_emergency_number {
    color: gray;
    text-align: center;
}

.homebase {
    color: black;
}

.order_key {
	width: 1%;
}

.order_separator {
	width: 1%;
}

.order_value {

}

.order_name {
	font-size: 150%;
	color: #559CD9;
}
