.plr12 {
	padding-left: 12px;
	padding-right: 12px;
}

.ml10 {
	margin-left: 10px;
}

.mt5 {
	margin-top: 5px;
}

hr {
	margin: 0px;
	padding: 0px;
}

#main_container {
	margin-top: 0px;
	margin-bottom: 15px;
}

.accordion_detail{
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	margin-left: 20px;
}

.accordion {
	padding: 5px;
	margin-bottom: 2px;
}

.list_title {
	font-size: large;
	font-weight: bold;
	margin-top: 10px;
}

.td_list {
	width: 1%;
}

div.row_hoverable:hover {
	background-color: #EEEEEE;
}

div.row_hoverable{
	background-color: #f5f5f5;
    border-radius: 2px;
}

@media (max-width: 767px) {
	.accordion_header_toggle {
		text-align:left;
		padding-top: 0 !important;
	}
	.website_list_container .line_voucher_price {
		font-size: small;
		font-weight: bold
	}
}

.no_bold {
	font-weight:normal;
}

.no_margin {
	margin: 0px;
}

.no_padding {
	padding: 0px;
}

.contract_detail {
	margin-left: 15px;
	margin-right: 10px;
	margin-bottom:0px;
	margin-top:0px;
}

.contract_info {
	margin-left: 10px;
	margin-right: 10px;
}

.contract_usage_control {
	margin-bottom: 10px;
}

.strike_through_text {
	text-decoration: line-through;
	color: gray;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	-webkit-animation-name: fadeIn; /* Fade in the background */
	-webkit-animation-duration: 0.4s;
	animation-name: fadeIn;
	animation-duration: 0.4s;
	overflow: scroll;
}

/* Modal Content */
.modal_request_change_quota {
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	top: 15%;
	right: 0;
	background-color: #fefefe;
	width: 350px;
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 0.4s;
	animation-name: slideIn;
	animation-duration: 0.4s;
}

.modal_detail_order {
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	top: 15%;
	right: 0;
	background-color: #fefefe;
	width: 90%;
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 0.4s;
	animation-name: slideIn;
	animation-duration: 0.4s;
	overflow: hidden;
}

.modal_detail_order .modal-body{
  	height: 400px;
	overflow: auto;
}

.modal_change_planned_start_time {
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	top: 15%;
	right: 0;
	background-color: #fefefe;
	width: 70%;
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 0.4s;
	animation-name: slideIn;
	animation-duration: 0.4s;
	overflow: hidden;
}

/* The Close Button */
.close_dialog {
	color: white;
	float: right;
	margin-right: 3px;
	margin-top: 3px;
}

.close_dialog:hover,
.close_dialog:focus {
	color: MediumTurquoise;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 1px;
	background-color: #428bca;
	color: white;
}

.modal-body {padding: 10px 16px;}

.modal_change_planned_start_time .modal-body {
	padding: 10px 16px;
	overflow: hidden;
	height: 150px;
}

.modal-footer {
	padding: 2px 16px;
	background-color: #5cb85c;
	color: white;
}

.progress-bar-grey {
	background-color: darkgrey;
}

.input-number {
	width:150px;
	padding: 0px;
	margin:0px;
	text-align: right;
}

.clickable:hover {
	background-color: #F4F4F4;
}

.card_padding {
	padding: 10px;
}

.grey_text {
	color: grey;
}

.green_text {
	color: green;
}

.red_text {
	color: red;
}

.orange_text {
	color: orange;
}

.div_order_button {
	margin-bottom: 10px;
	margin-top: -15px;
	overflow: hidden;
}

.div_detail_order_button {
	margin-bottom: 10px;
	overflow: hidden;
}

.header_detail_order{
	color : blue;
	font-weight: bold;
}

#btn_add_passenger{
	display: block;
	margin: auto;
}

.td_menu {
	width : 33%;
	text-align: center;
}

.td_tab_order {
	width : 25%;
	text-align: center;
}








#menu_container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: WhiteSmoke;
}

#menu_container li {
	width: 33.333333333%;
    float: left;
}

#menu_container li a {
	vertical-align: middle;
    display: block;
    color: Black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

#menu_container li a:hover:not(.active) {
    background-color: #E8E8E8;
}

#menu_container .active {
    background-color: Gainsboro;
}


.panel {
	display: inline;
	position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    color: white;
    background-color: blue;
    z-index: 1000;
    padding: 5px;
    margin: 0px;
    margin-left: -15px;
    border-radius: 0px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#button_back {
	display: inline-block;
	margin-top:6px;
	margin-bottom:0px;
}

#panel_title {
	display: inline-block;
	margin-top:6px;
	margin-bottom:0px;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu div {
    display: inline-block;
    background-color: rgb(51,122,183);
    color:white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    width: 160px;
}

div.scrollmenu div:hover {
    background-color: rgb(40,96,144);
}

.logged_in_as {
    color: gray;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.div_emergency_number {
    color: gray;
    text-align: center;
}

.homebase {
    color: black;
}