.ml10 {
	margin-left: 10px;
}

hr {
	margin: 0px;
	padding: 0px;
}

#main_container {
	margin-top: 15px;
	margin-bottom: 15px;
}

.accordion_detail{
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	margin-left: 20px;
}

.accordion {
	padding: 5px;
	margin-bottom: 2px;
}

.td_key {
	width: 10%;
}

.td_separator {
	width: 1%;
}

div.row_hoverable:hover {
	background-color: #EEEEEE;
}

div.row_hoverable{
	background-color: #f5f5f5;
    border-radius: 2px;
}

@media (max-width: 767px) {
	.accordion_header_toggle {
		text-align:left;
		padding-top: 0 !important;
	}
	.website_list_container .line_voucher_price {
		font-size: small;
		font-weight: bold
	}
}